apiVersion: v1
kind: Secret
metadata:
  name: digishop-secrets
type: Opaque
data:
  # Database & Redis (Hostnames match K8s services)
  MYSQL_ROOT_PASSWORD: [base64_encoded_password]
  REDIS_PASSWORD: [base64_encoded_password]
  DB_USERNAME: [base64_encoded_username]
  DB_PASSWORD: [base64_encoded_password]
  DB_NAME: [base64_encoded_dbname]
  DB_HOST: [base64_encoded_dbhost]
  DB_DIALECT: [base64_encoded_dialect]
  REDIS_URL: [base64_encoded_redis_url]
  
  # JWT 
  JWT_SECRET: [base64_encoded_jwt_secret]
  JWT_ACCESS_PRIVATE_KEY: [base64_encoded_pem_key]
  JWT_ACCESS_PUBLIC_KEY: [base64_encoded_pem_key]
  JWT_REFRESH_PRIVATE_KEY: [base64_encoded_pem_key]
  JWT_REFRESH_PUBLIC_KEY: [base64_encoded_pem_key]

  # Merchant & API Keys
  MERCHANRT_API_ID: [base64_encoded_api_id]
  MERCHANRT_API_KEY: [base64_encoded_api_key]
  MERCHANRT_MID: [base64_encoded_mid]
  MERCHANRT_PARTNER_ID: [base64_encoded_partner_id]
  MERCHANRT_SIGN_KEY: [base64_encoded_sign_key]

  # Other
  NODE_ENV: cHJvZHVjdGlvbg== # production
  ALLOW_CORS: [base64_encoded_cors_origins]
  SENDGRID_API_KEY: [base64_encoded_sendgrid_key]
  AZURE_STORAGE_CONNECTION_STRING: [base64_encoded_azure_string]
  AZURE_STORAGE_CONTAINER_NAME: [base64_encoded_azure_container]
  AZURE_STORAGE_ACCOUNT_NAME: [base64_encoded_azure_name]
  AZURE_STORAGE_ACCOUNT_KEY: [base64_encoded_azure_key]
  SUPABASE_URL: [base64_encoded_supabase_url]
  SUPABASE_SERVICE_ROLE_KEY: [base64_encoded_supabase_key]
  SUPABASE_BUCKET_NAME: [base64_encoded_supabase_bucket]
