apiVersion: v1
kind: Secret
metadata:
  name: digishop-secrets
type: Opaque
data:
  # Values must be base64 encoded
  # echo -n "mypassword" | base64
  MYSQL_ROOT_PASSWORD: bXlwYXNzd29yZA==
  REDIS_PASSWORD: bXlwYXNzd29yZA==
  JWT_SECRET: c3VwZXJzZWNyZXRqd3Q=
